{% extends 'base.html' %}
{% load urlify %}


{% block body %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        {% if item.img %}
            <img src="{{item.img.url}}" height="200" width="200" alt="" class="img-responsive">
        {% endif %}
        <h1>{{item.title}} <small>{{item.timestamp}}</small></h1>
        {{item.content| linebreaks}}


		

		Author: {{item.author.get_full_name}} <br>
         <a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
            Share on Facebook
        </a>

        <a href="https://twitter.com/home?status={{item.content|truncatechars:35|urlify}}%20{{request.build_absolute_uri}}">
            Share on Twitter
        </a>

        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title={{item.title|urlify}}&summary={{item.content|truncatechars:35|urlify}}&source={{request.build_absolute_uri}}">
        Share on Linkedin
        </a>
        <br>
        <br>

         <div class="fb-comments" data-href="{{request.build_absolute_uri}}" data-numposts="5"></div>
        

        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>


        <button class="btn" onclick="ajax_like()">
        <span id="likes_count">{{ post_like_count }}</span>
        <span id= "heart" class="glyphicon glyphicon-heart {% if liked %}text-danger{% endif %}" aria-hidden="true">   <i class="fa fa-heart" aria-hidden="true"></i>               </span>
        </button>
        <script type="text/javascript">
            function ajax_like() {
                console.log("fahad");
                $.ajax(
                    {
                        type:'GET',
                        url:'{% url "like_button" post_slug=item.slug %}',
                        error: function(){
                            console.log('error');
                        },
                        success: function(data){
                            $("#likes_count").text(data.post_like_count);

                            if(data.action==="like"){
                                $("#heart").addClass("text-danger")
                            }else{
                                $("#heart").removeClass("text-danger")
                            }
                            }

                        },
                    
                );
            }
        </script>

        <br>
    {% include 'django_comments.html' %}

    </div>
</div>
{% endblock body %}


