{% extends "base.html" %}
	
{% load urlify %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-3">These are my posts!</h1>
	<a class="btn btn-primary btn-lg" href="{% url 'create' %}" role="button">Create</a>
</div>

	<div class="row">
	{% for item in post_items %}
	<div class="col-xs-12 col-sm-6 col-4">
	<div class="card" style="width: 20rem; display:inline;">
		{% if item.img %}
			<img class="card-img-top" class="img-fluid" src="{{item.img.url}}" alt="Card image cap">
		{% endif %}
		 <h3><a href="{{ item.get_absolute_url }}">{{item.title}}</a><small> {{item.publish|timesince }} ago</small></h3>
        <p>{{item.content|linebreaks|truncatechars:100}}</p>

        {% if item.draft %}<h3>Draft</h3>{% endif %}
        {% if item.publish > today %}<h3>Future Post</h3>{% endif %}
        <a href="{{ item.get_absolute_url }}" class="btn btn-primary" role="button">View</a>
        <a href="{% url 'update' post_slug=item.slug %}"><button class="btn btn-warning">Update</button></a>
		<a href="{% url 'delete' post_slug=item.slug %}"><button class="btn btn-danger">Delete</button></a>
		<br><br>
	</div>
	</div>
	{% endfor %}
	</div>
	<div class="pagination">
    <span class="step-links">
        {% if post_items.has_previous %}
            <a href="?page={{ post_items.previous_page_number }}&q={{ request.GET.q }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ post_items.number }} of {{ post_items.paginator.num_pages }}.
        </span>

        {% if post_items.has_next %}
            <a href="?page={{ post_items.next_page_number }}&q={{ request.GET.q }}">next</a>
        {% endif %}
    </span>
</div>


{% endblock %}
