<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Place Search</title>
</head>
<body>
	<p>
        <b>STATUS:</b> {{ response.status }}
    </p>
    <hr>
    <form action="{% url 'text' %}" method="GET">
        <input type="hidden" name="next_page_token" value="{{ response.next_page_token }}">
        <input type="submit" name="submit" value="Next Page">
    </form>
    <hr>
    <form action="{% url 'text' %}" method="GET">
        <input type="hidden" name="next_page_token" value="{{ response.next_page_token }}">
        <input type="submit" name="submit" value="Next Page">
    </form>

    <p>
        <b>RESULTS:</b>
    </p>

    <table>
        {% for result in response.results %}
            <tr>
                <td>
                    {{ result.name }}
                     <form action="{% url 'location' %}" method="GET">
                        <input type="hidden" name="reference" value="{{ result.reference }}">
                        <input type="submit" name="submit" value="More info">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>